* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section Styling */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Flex Container */
#flex {
    display: flex;
    max-width: 1000px;
    gap: 20px;
}

/* Image Styling */
img {
    display: block;
    width: 100%;

}

/* Media Query */
@media screen and (max-width: 600px) {
    #flex {
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    }
}